*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#07152A;
    color:white;
    min-height:100vh;
}

/* NAVBAR */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;

    background:#0D203B;

    border-bottom:1px solid #1F3A5F;
}

.logo{

    font-size:38px;

    font-weight:bold;

    color:white;
}

.nav-right{

    display:flex;

    align-items:center;

    gap:15px;
}

.profile{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#1F4E79;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-weight:bold;
}

.logout-btn{

    padding:12px 20px;

    border:none;

    border-radius:10px;

    background:#1F4E79;

    color:white;

    cursor:pointer;
}

.logout-btn:hover{

    background:#2A659B;
}

.quote{


    font-style:italic;

    color:#AFC1D6;

    margin-top:10px;

    margin-bottom:35px;
}
/* CONTAINER */

.container{

    display:flex;

    min-height:calc(100vh - 90px);
}

/* SIDEBAR */

.sidebar{

    width:240px;

    background:#0D203B;

    padding:30px 20px;

    border-right:1px solid #1F3A5F;
}

.sidebar h3{

    margin-bottom:25px;

    font-size:24px;
}

.side-btn{

    width:100%;

    display:block;

    padding:15px;

    margin-bottom:15px;

    border:none;

    border-radius:12px;

    background:#142A4A;

    color:white;

    text-align:left;

    cursor:pointer;

    font-size:16px;
}

.side-btn:hover{

    background:#1F4E79;
}

/* MAIN CONTENT */

.main-content{

    flex:1;

    padding:40px;
}
/* STATS */

.stats{

    display:flex;

    gap:25px;

    margin-bottom:40px;
}

.stat-card{

    width:180px;

    background:#2f425c;

    border:1px solid #3d4e65;

    border-radius:15px;

    padding:25px;

    text-align:center;

    transition:0.3s;
}

.stat-card:hover{

    transform:translateY(-5px);
}

.stat-card h2{

    font-size:40px;

    margin-bottom:10px;
}

.stat-card p{

    color:#BFC8D6;
}

/* TABLE */

.table-title{

    margin-bottom:20px;
}

.table-container{

    background:#0D203B;

    border:1px solid #1F3A5F;

    border-radius:15px;

    overflow:hidden;
}

table{

    width:100%;

    border-collapse:collapse;
}

th{

    background:#142A4A;

    padding:18px;

    text-align:left;
}

td{

    padding:18px;

    border-top:1px solid #1F3A5F;
}

/* STATUS */

.pending{

    background:#D4A017;

    color:black;

    padding:5px 12px;

    border-radius:20px;

    font-weight:bold;
}

.assigned{

    background:#1F4E79;

    color:white;

    padding:5px 12px;

    border-radius:20px;

    font-weight:bold;
}

/* BUTTON */

.view-btn{

    border:none;

    padding:8px 16px;

    border-radius:8px;

    background:#1F4E79;

    color:white;

    cursor:pointer;
}

.view-btn:hover{

    background:#2A659B;
}
