*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#07152A;
    color:white;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

/* NAVBAR */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;

    background:#0D203B;

    border-bottom:1px solid #1F3A5F;
}

.logo{

    font-size:38px;

    font-weight:bold;
}

.nav-right{

    display:flex;

    align-items:center;

    gap:15px;
}

.profile{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#1F4E79;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;
}

.logout-btn{

    padding:12px 20px;

    border:none;

    border-radius:10px;

    background:#1F4E79;

    color:white;

    cursor:pointer;
}

.logout-btn:hover{

    background:#2A659B;
}

/* MAIN */

.container{

    flex:1;

    max-width:800px;

    margin:auto;

    width:100%;

    padding:40px;
}

.container h1{

    font-size:42px;

    margin-bottom:10px;
}

.quote{

    color:#AFC1D6;

    font-style:italic;

    margin-bottom:35px;
}

/* FORM CARD */

.form-card{

    background:#0D203B;

    border:1px solid #1F3A5F;

    border-radius:16px;

    padding:30px;
}

label{

    display:block;

    margin-bottom:8px;

    margin-top:15px;
}

input,
select,
textarea{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#142A4A;

    color:white;

    font-size:15px;
}

textarea{

    height:140px;

    resize:none;
}

.submit-btn{

    width:100%;

    margin-top:25px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#1F4E79;

    color:white;

    font-size:16px;

    cursor:pointer;
}

.submit-btn:hover{

    background:#2A659B;
}

/* FOOTER */

footer{

    text-align:center;

    padding:15px;

    background:#0D203B;

    border-top:1px solid #1F3A5F;

    color:#BFC8D6;
}