*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#07152A;
    color:white;
    min-height:100vh;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 50px;

    background:#0D203B;

    border-bottom:1px solid #1F3A5F;
}

.logo{

    font-size:38px;

    font-weight:bold;
}

.nav-right{

    display:flex;

    align-items:center;

    gap:15px;
}

.profile{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#1F4E79;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;
}

.logout-btn{

    padding:12px 20px;

    border:none;

    border-radius:10px;

    background:#1F4E79;

    color:white;

    cursor:pointer;
}

.container{

    display:flex;

    justify-content:center;

    padding:50px;
}

.report-card{

    width:800px;

    background:#0D203B;

    border:1px solid #1F3A5F;

    border-radius:16px;

    padding:35px;
}

.report-card h1{

    margin-bottom:30px;
}

.detail-row{

    display:flex;

    justify-content:space-between;

    padding:15px 0;

    border-bottom:1px solid #1F3A5F;
}

.label{

    font-weight:bold;

    color:#AFC1D6;
}

.buttons{

    margin-top:30px;

    display:flex;

    gap:15px;
}

.resolve-btn{

    padding:14px 25px;

    border:none;

    border-radius:10px;

    background:#2E8B57;

    color:white;

    cursor:pointer;
}

.back-btn{

    padding:14px 25px;

    border:none;

    border-radius:10px;

    background:#1F4E79;

    color:white;

    cursor:pointer;
}

.dashboard-btn{

    padding:14px 25px;

    border:none;

    border-radius:10px;

    background:#1F4E79;

    color:white;

    cursor:pointer;
}

.dashboard-btn:hover{

    background:#2A659B;
}