<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>All Reports | SafeHer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='all_reports.css') }}">

</head>

<body>

    <div class="navbar">

        <div class="logo">
            SafeHer
        </div>

        <div class="nav-right">

            <div class="profile">
                A
            </div>

            <button class="logout-btn"
                    onclick="window.location.href='/'">

                Logout

            </button>
{% if active_sos > 0 %}

<div class="sos-badge"
     onclick="window.location.href='/sosalerts'">

    🚨 {{ active_sos }}

</div>

{% endif %}
        </div>

    </div>

    <div class="container">

        <h1>All Reports</h1>

        <p class="subtitle">
            Monitor all complaints submitted on the platform.
        </p>

        <button class="back-btn"
                onclick="window.location.href='/admindashboard'">

            ← Back to Dashboard

        </button>

        <div class="table-container">

            <table>

                <thead>

                    <tr>

                        <th>Report ID</th>

                        <th>User ID</th>

                        <th>Incident Type</th>

                        <th>Date</th>

                        <th>Status</th>

                        <th>Action</th>

                    </tr>

                </thead>

                <tbody>

                    {% for report in reports %}

                    <tr>

                        <td>SH-2026-{{ report[0] }}</td>

                        <td>{{ report[1] }}</td>

                        <td>{{ report[2] }}</td>

                        <td>{{ report[3] }}</td>

                        <td>

                            {% if report[4] == 'Pending' %}

                            <span class="pending">
                                Pending
                            </span>

                            {% elif report[4] == 'Resolved' %}

                            <span class="resolved">
                                Resolved
                            </span>

                            {% else %}

                            <span class="assigned">
                                {{ report[4] }}
                            </span>

                            {% endif %}

                        </td>

                        <td>

                            <button class="view-btn"
                                    onclick="window.location.href='/adminviewreport/{{ report[0] }}'">

                                View

                            </button>

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</body>

</html>